name: eko_messanger
description: "A new Flutter project."
publish_to:

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^17.0.0
  flutter_riverpod: ^3.0.3
  riverpod_annotation: ^3.0.3
  hooks_riverpod: ^3.0.3
  ecp:
    path: ../ecp-dart-sdk
  flutter_secure_storage: ^9.2.4
  path_provider: ^2.1.5
  drift: ^2.28.2
  sqlite3: ^2.9.4
  path: ^1.9.1
  sqlcipher_flutter_libs: ^0.6.8
dev_dependencies:
  drift_dev: ^2.28.0
  build_runner: ^2.5.4
  riverpod_generator: ^3.0.3

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
