name: build
on:
  workflow_call:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build Flutter
        run: |
          nix develop .#default --command flutter build linux --dart-define KLIPY_API_KEY=${{ secrets.KLIPY_API_KEY }}
